<br><br><br><br>
<div class="container">
  <h2 class="text-center mb-4">Resume Builder Dashboard</h2>
  
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Your Resumes</h4>
          <p class="card-text">You haven created any resumes yet. Click the "Create New Resume" button to get started.</p>
        </div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h4 class="card-title">Create New Resume</h4>
          <p class="card-text">Build your professional resume by adding your skills, experience, and education information.</p>
          <button class="btn btn-primary" routerLink="/create-resume">Create New Resume</button>
        </div>
      </div>
    </div>
  </div>
</div>
