<div class="form-container">
    <div class="tab-content">
      <h2 class="mb-4 text-center">Sign-Up</h2>
      <div id="signup">
        <form #signupForm="ngForm" (ngSubmit)="signup()">
          <div class="mb-3">
            <label for="signupFirstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="signupFirstName" name="firstName" [(ngModel)]="firstName" required>
          </div>
          <div class="mb-3">
            <label for="signupLastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="signupLastName" name="lastName" [(ngModel)]="lastName" required>
          </div>
          <div class="mb-3">
            <label for="signupEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="signupEmail" name="email" [(ngModel)]="email" required>
          </div>
          <div class="mb-3">
            <label for="signupPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="signupPassword" name="password" [(ngModel)]="password" required>
          </div>
          <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign up</button>
          <p class="mt-3">Already have an account? <a href="#login" class="switch-tab">Login</a></p>
        </form>
      </div>
    </div>
  </div>
  



  